@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import "./colors.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

.carousel-3d-controls .next,
.carousel-3d-controls .prev {
  z-index: 10;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: $text-color1 !important;
  color: $accent-1 !important;
}
